<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BillChecker">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddBillActivity"
            android:exported="false"
            android:label="@string/add_bill_title" />

        <activity
            android:name=".ManageBillsActivity"
            android:exported="false"
            android:label="@string/manage_saved_numbers" />

        <activity
            android:name=".ChooseModeActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".ChooseSavedBillActivity"
            android:exported="false"
            android:label="@string/check_saved" />

        <activity
            android:name=".ChooseManualCompanyActivity"
            android:exported="false"
            android:label="@string/check_manual" />

        <activity
            android:name=".WebViewActivity"
            android:exported="false" />

    </application>
</manifest>
